anyio[trio]==4.1.0
azure-identity==1.15.0 
azure-keyvault-secrets==4.7.0
azure-mgmt-compute==30.3.0
azure-mgmt-containerinstance==10.1.0 
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-mgmt-web==7.2.0
azure-storage-blob==12.19.0
azure-storage-file-share==12.15.0
azure-storage-file==2.1.0
black==23.11.0
h5grove @ git+https://github.com/wiwski/h5grove.git@feature/filepath-resolver
httpx==0.25.2
fastapi==0.104.1 
isort==5.13.0 
mypy==1.0.1
pydantic-settings==2.1.0 
python-dotenv==1.0.0 
python-jose[cryptography]==3.3.0
python-slugify==8.0.1
pytest==7.4.3 
requests==2.31.0
ruff==0.1.7
sentry-sdk[fastapi]==1.38.0
stream-zip==0.0.68
types-python-jose==3.3.4.8
types-python-slugify==8.0.0.3 
types-requests==2.31.0.10
uvicorn[standard]==0.24.0.post1