anyio[trio]==3.7.1
azure-identity==1.14.0 
azure-keyvault-secrets==4.7.0
azure-mgmt-compute==30.1.0
azure-mgmt-containerinstance==10.1.0 
azure-mgmt-resource==23.0.1
azure-mgmt-storage==21.1.0
azure-mgmt-web==7.1.0
azure-storage-blob==12.18.1
azure-storage-file-share==12.13.0
azure-storage-file==2.1.0
black==23.7.0
fastapi==0.99.1 
h5grove @ git+https://github.com/wiwski/h5grove.git@feature/filepath-resolver
httpx==0.24.1
mypy==1.0.1
python-dotenv==1.0.0 
python-jose[cryptography]==3.3.0
python-slugify==8.0.1
pytest==7.4.2 
requests==2.31.0
ruff==0.0.287
sentry-sdk[fastapi]==1.30.0
types-python-jose==3.3.4.8
types-python-slugify==8.0.0.3 
types-requests==2.31.0.2
uvicorn[standard]==0.23.2
