# This workflow builds the Python package dependencies every time that the requirements
# files are modified and store it in cache to be accessible by all the CI in all other
# branches.
name: update-caches

permissions:
  contents: read

on:
  push:
    branches:
      - "main"

jobs:
  build-cache:
    name: Build Cache
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.14
        uses: actions/setup-python@v3
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      #### mypy ####
      - name: Restore mypy cache
        id: cache-mypy-restore
        uses: actions/cache/restore@v3
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-mypy-${{ hashFiles('requirements.txt') }}
      - name: Mypy check
        if: steps.cache.outputs.cache-hit != 'true'
        run: python -m mypy .
      - name: Save mypy cache
        if: steps.cache.outputs.cache-hit != 'true'
        id: cache-mypy-save
        uses: actions/cache/save@v3
        with:
          path: .mypy_cache
          key: ${{ steps.cache-mypy-restore.outputs.cache-primary-key }}
